main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 5rem 1rem 2rem 1rem;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.card {
  background-size: cover;
  background-position: top;
  max-width: 18.75rem;
  padding: 4.3rem;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.8s;
  color: black;
}

.content {
  margin: auto;
  color: white;
  text-align: center;
}

.card-title {
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.button > img {
  width: 1.563rem;
  height: 1.563rem;
  margin: 0;
}

.button::after {
  content: '';
  display: none;
}

ul {
  list-style: none;
  /* margin: auto 0; */
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 90%;
  width: 24.375rem;
  height: 40.5rem;
  overflow: auto;
}

.isLoggedIn > h1 {
  margin-top: 10rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  font-size: 2.3rem;
}

.isLoggedIn > h2 {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.isLoggedIn > div {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 390px) {
  ul {
    list-style: none;
    /* margin: auto 0; */
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 90%;
    width: 24.375rem;
    height: 42rem;
    overflow: auto;
  }
  .isLoggedIn {
    padding: 0rem 2rem 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .isLoggedIn > h1 {
    padding: 0;
    font-size: 1.8rem;
  }

  .isLoggedIn > h2 {
    margin: 0;
    font-size: 1.1rem;
  }
}

/* Stile für den Webkit-basierten Browser (wie Chrome und Safari) */
ul::-webkit-scrollbar {
  width: 0.2em; /* Breite des unsichtbaren Scrollbalkens */
}

ul::-webkit-scrollbar-thumb {
  background-color: transparent; /* Farbe des Scrollbalken-Daumens */
}
