body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: rgba(20, 20, 20, 1);
}

main {
  margin: 0;
}

ul {
  list-style: none;
  margin: auto 0;
  padding: 0;
  display: grid;
  justify-content: space-around;
  max-width: 90%;
  width: 70rem;
  height: 600px;
  overflow: auto;
}

/* Stile für den Webkit-basierten Browser (wie Chrome und Safari) */
ul::-webkit-scrollbar {
  width: 0.2em; /* Breite des unsichtbaren Scrollbalkens */
}

ul::-webkit-scrollbar-thumb {
  background-color: transparent; /* Farbe des Scrollbalken-Daumens */
}

li {
  width: 50%;
  position: relative; /* Position für das Pseudo-Element festlegen */
}

img {
  width: 90%;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 1000ms;
  margin-bottom: 1rem;
  object-position: center bottom;
}

/* Pseudo-Element für das Overlay hinzufügen */
li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 300ms;
}

/* Hover-Effekt für das Overlay */
li:hover::before {
  opacity: 1;
}

figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}

figcaption {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%); /* Zentrierung des Figcaptions */
  width: 100%;
  text-align: center;
  color: #cadee9;
  font-size: 1.2rem;
  z-index: 1;
  opacity: 0;
  transition:
    opacity 600ms,
    transform 600ms;
}

/* Hover-Effekt für das Figcaption */
li:hover figcaption {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  ul {
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  }

  li {
    margin: auto 0;
    padding: 0;
    width: 100%;
  }

  figcaption {
    transform: translate3d(0, 0.5rem, 0);
  }

  figure::after {
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    transition: transform 900ms;
  }
}
