body {
  margin: 0;
}

.grid-merge {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
}

main {
  overflow: auto;
  grid-area: main;
  position: absolute;
  width: 100%;
  margin-top: 5.7rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-align: center;
  z-index: 100;
}

main {
  overflow: auto;
  grid-area: main;
  /* padding: 1.25rem 1.25rem 1.25rem 1.25rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  z-index: 1;
  max-height: 100vh;
  position: relative;
}

.main-blurr {
  background-color: var(--accent-text-color);
  backdrop-filter: blur(4px) brightness(110%);
  opacity: 0.06;
  width: 80%;
  height: 110%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 5rem;
  padding: 1rem;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1.5rem 2rem 1.5rem;
  border-radius: 0.5rem;
  width: 85%;
  margin-top: 1rem;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}
article {
  width: 90%;
}

h1 {
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.type-of-employment {
  display: grid;
  grid-template-columns: 8rem 8rem;
  justify-content: flex-start;
  margin: 0.5rem 0rem;
  font-size: 0.9rem;
  gap: 0.1rem;
  width: 100%;
}

.type-of-employment > label {
  width: 8rem;
  text-align: left;
}

.how-would-you-like-to-work {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0.5rem;
  font-size: 0.9rem;
  width: 90%;
}

.how-would-you-like-to-work > label {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.swob-from-recruit-or-agencies {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0.5rem;
  padding-right: 1rem;
  font-size: 0.9rem;
  width: 100%;
}

.swob-from-recruit-or-agencies > label {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.select-languages > h1 {
  margin-bottom: 0;
}

.select-languages > p {
  text-align: left;
  font-variant: small-caps;
  margin-top: 0;
}

button {
  margin-top: 1rem;
}

a {
  color: black;
}

main::-webkit-scrollbar {
  width: 0.2em; /* Breite des unsichtbaren Scrollbalkens */
}

main::-webkit-scrollbar-thumb {
  background-color: transparent; /* Farbe des Scrollbalken-Daumens */
}
