h1 {
  margin: 0rem 0rem 2rem 0rem;
  font-size: 2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

h2 {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

body {
  background-image: url('@/assets/background-img/andrew-kliatskyi-jpu0gMXT9to-unsplash.jpeg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.grid-merge {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  min-height: 100vh;
}

main {
  overflow: hidden;
  grid-area: main;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-align: center;
  z-index: 2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
  width: 280px;
}

input {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #adadad;
  outline: none;
  text-align: left;
  width: 200px;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
