@media (min-width: 37.5rem) {
  main {
    max-width: 37.5rem;
  }
}

@media (min-width: 56.25rem) {
  main {
    max-width: 50rem;
  }
}

* {
  box-sizing: border-box;
}

:root {
  --background-clr: rgb(0, 0, 0);
  --text-color: #cadee9;
  --accent-color: #5f9ea0;
  --accent-text-color: #adadad;
  --link-color: #cadee9;
  --link-color-visited: rgb(255, 167, 234);
  --link-color-hover: #2ff6b0;
  --line-clr: gray;
  --form-clr: gray;
  --btn-clr: #cadee0;
  --clr-hamburger: white;
  --clr-dropdown: black;
  --clr-match-container: white;
}

header {
  height: 3.75rem;
  display: flex;
  align-items: baseline;
  padding: 1rem;
}
header img {
  margin: 1rem;
}
.nav-logo {
  width: 2.5rem;
  height: 2.5rem;
}

.nav-menu {
  margin-left: auto;
  width: 1.563rem;
  height: 1.563rem;
}

html {
  background-color: var(--background-clr);
  color: var(--text-color);
}

body {
  font-family: 'Oxygen', sans-serif;
}

a {
  align-items: baseline;
  color: var(--link-color);
  font-variant: small-caps;
  text-decoration: none;
}

footer > a {
  font-size: 0.8rem;
  margin-left: auto;
  margin-right: auto;
}

.btn-style-1 {
  background-color: var(--btn-clr);
  border: solid var(--btn-clr);
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.svg-icon {
  height: 3.5rem;
  width: 3.5rem;
  margin: 0;
}

button {
}
