/* body {
  background-image: url('@/assets/background-img/andrew-kliatskyi-jpu0gMXT9to-unsplash.jpeg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
} */

h3 {
  font-size: 0.5rem;
  padding: 0.2rem 0;
}

main {
  overflow: hidden;
  grid-area: main;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
  position: relative;
  margin-top: 3.125rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.9rem;
  border-radius: 0.5rem;
  margin: 2rem;
  width: 100%;
  max-width: 17.5rem;
  height: 50rem;
}
.swipe-container {
  background-color: var(--clr-light-container);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  padding: 1.25rem;
  width: 150%;
  height: 70%;
  border-radius: 1rem;
}

@media only screen and (max-width: 390px) {
  .swipe-container {
    width: 130%;
  }
}

.title-company-img-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.job-description-container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  margin-bottom: 1rem;
}

.job-description {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0; /* Verringerte Margin zwischen Job-Beschreibung und Company-Namen */
  color: var(--text-clr-on-light-background);
  text-align: left;
}

/* .company-logo-container {
  border: 1px solid var(--clr-border-radius-dark);
  padding: 0rem;
  margin-top: 1rem;
  margin-left: 0.625rem;
} */

.company-logo {
  border: 1px solid #adadad;
  padding: 0.7rem;
  /* margin-top: 1rem;
  margin-left: 0.625rem; */
  width: 30%;
  border-radius: 1rem;
}

.company-name {
  font-weight: 400;
  color: var(--text-clr-on-light-background);
  font-size: 0.8rem;
  text-align: left;
  margin: 0;
}

.info-box-container {
  position: relative;
  height: 26vh;
}

.info-box {
  margin-top: 0.313rem;
  margin-bottom: 0;
  font-size: 1rem;
  border: none;
  text-align: left;
  padding: 0.938rem 0; /* Passen Sie den Padding-Wert nach Bedarf an */
  color: var(--text-clr-on-light-background);
  height: 100%;
}

/* .more-info-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.625rem;
  border: 0.125rem solid var(--clr-border-radius-dark);
  border-radius: 0.5rem;
  background-color: var(--clr-background-show-more-content);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  max-height: calc(100vh - 2rem);
  color: var(--text-clr-on-light-background);
} */

.more-info-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.more-info-button {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--text-clr-on-light-background);
  font-weight: 800;
  font-size: 0.7rem;
  margin-top: auto; /* Verwende margin-top:auto, um es nach unten zu schieben */
  padding: 0.5rem;
  margin-left: auto;
}

.location-section {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--text-clr-on-light-background);
}

.workplace {
  font-weight: 800;
}

.filter-section {
  display: flex;
}

.filter-section {
  display: flex;
  gap: 1rem;
  flex: 0; /* Nutzt den verfügbaren Platz gleichermaßen auf */
  font-size: 0.625rem;
  width: auto;
  margin-bottom: 0.313rem;
}

.category-label,
.filter-label {
  background-color: var(--clr-filter-light);
  color: var(--text-clr-on-dark-background);
  padding: 0.3rem;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.625rem;
  margin-bottom: 2rem;
}

.gallery img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  margin-right: 0.313rem;
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.3);
}

.swipe-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
  gap: 2rem;
}

button {
  padding: 0.313rem;
  font-size: 0.875rem;
  cursor: pointer;
  background: transparent;
  border: none;
}

.img-size {
  width: 60px;
  height: 60px;
}
/* .button > img {
  width: 5rem;
  height: 5rem;
}

.icon-green {
  width: 5rem;
  height: 5rem;
} */

/* .link-to-match {
  padding: 0.313rem;
} */

.modal-content.info-box-content {
  margin: auto;
  padding: 1.25rem;
  width: 100%;
  text-align: left;
  background-color: var(--clr-background-show-more-content);
}

.close {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 1.25rem;
  color: var(--text-clr-on-light-background);
  cursor: pointer;
}
