.grid-merge {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  min-height: 100vh;
}
h1 {
  margin-bottom: 1rem;
}
main {
  overflow: auto;
  grid-area: main;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-align: center;
  z-index: 2;
  margin-top: 4rem;
}

.match-container,
.company-container,
.user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-radius: 1rem;
}

.match-container,
.user-container {
  background-color: var(--clr-match-container);
  width: 90%;
  height: 27vh;
  color: var(--text-clr-on-light-background);
}

.company-container,
.user-container {
  display: grid;
  grid-template-columns: 1fr;
}

article {
  margin-bottom: 0.5rem;
}
/* .company-container {
  margin-bottom: 0.5rem;
} */

.company-container-name-city-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  gap: 1rem;
}

.company-container-name-city h2 {
  padding-top: 0;
  padding-right: 1rem;
  margin: 0;
}

h2 {
  font-size: 1.3rem;
}
p {
  padding: 0;
  margin: 0;
}

.text {
  padding: 0rem 1rem 0 1rem;
  text-align: left;
  height: 3vh;
}

@media only screen and (max-width: 390px) {
  .text {
    width: 130%;
  }
}

.user-img-contain,
.company {
  background-color: white;
  height: auto;
  border-radius: 1rem;
  border: 1px solid #adadad;
  width: 5rem;
  height: 5rem;
}

.user-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.company-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.company-container-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  gap: 3rem;
}

.link a {
  all: unset;
  color: var(--clr-dropdown);
  padding-top: 0.5rem;
  margin: 1rem 0 0rem 1rem;
  font-weight: 800;
}

.link-icon {
  width: 1.3rem;
  height: 1.3rem;
  padding-top: 0.5rem;
  margin: 0.4rem 0.4rem 0 0.4rem;
  text-align: center;
}

.logo {
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 100%;
  object-fit: cover;
}

.user-container-name-city-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  gap: 1rem;
}

.user {
  background-color: var(--accent-text-color);
  border-radius: 50px;
  padding: 0.5rem;
  margin-right: 0.6rem;
  width: 5rem;
  height: 5rem;
}

.user-container-name-city h2 {
  padding-top: 0;
  padding-left: 1rem;
  margin: 0;
}

.about-me {
  text-align: left;
  margin-left: 1rem;
  font-weight: 700;
}
.profile {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  font-weight: 700;
}

.btn-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn-container-light {
  background-color: var(--btn-clr);
  border-radius: 1rem;
  width: 16rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.btn-container-light a {
  all: unset;
  color: var(--text-clr-on-light-background);
  font-size: 0.9rem;
  margin-left: auto;
  margin-right: auto;
}

.btn-container-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  padding: 0.3rem 0.3rem;
  margin-top: 1rem;
  /* background-color: var(--background-clr); */
  border: 0.1rem solid white;
  border-radius: 1rem;
}

.btn-container-dark:active {
  background-color: var(--btn-clr);
  color: black;
}

.btn-dismiss {
  all: unset;
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

.btn-icon-light {
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--btn-clr);
  margin-right: 0.3rem;
}

.btn-icon-dark {
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--background-clr);
}

button {
  margin-left: auto;
  margin-right: auto;
}
